---
import Layout from '../layouts/Layout.astro'
import Card from '../components/Card.astro'
---

<Layout title="Juan Borrero - Portafolio">
  <main>
    <section class="hero-section">
			<h1>Hola, soy <br/>
				<span class="text-gradient">Juan Borrero</span>
			</h1>
			<p class="description">
				Diseñador web al que le encanta hacer productos digitales de todas las
				formas y tamaños, creando experiencias accesibles con en el diseño y
				experiencia del usuario.
			</p>
		</section>
    <ul role="list" class="projects-grid">
    </ul>
  </main>
</Layout>

<style>
  main {
    margin: auto;
    width: 800px;
    max-width: calc(100% - 2rem);
    color: white;
    font-size: 20px;
    line-height: 1.6;
  }

	.hero-section {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		gap: 1rem;
		min-height: calc(100vh - 4rem);
		text-align: center;
	}

  h1 {
		margin: 0;
		font-size: 5rem;
    font-weight: 700;
    font-family: 'Inner Tight', sans-serif;
    line-height: 1;
		letter-spacing: -3px;
  }
  .text-gradient {
    background-image: var(--accent-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 400%;
    background-position: 0%;
		background-clip: text;
  }

	.description {
		max-width: 60ch;
		font-size: 1.45rem;
		font-weight: 400;
		line-height: 1.5;
	}

  .link-card-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
    gap: 2rem;
    padding: 0;
  }
</style>
