---
import Layout from '../layouts/Layout.astro'
import Card from '../components/Card.astro'
import pagina from '../assets/projects/web.jpg'
import poster from '../assets/projects/poster.jpg'
import revista from '../assets/projects/revista.jpg'

---

<Layout title="Juan Borrero - Portafolio">
  <main>
    <section class="hero-section">
			<h1>Hola, soy <br/>
				<span class="text-gradient">Juan Borrero</span>
			</h1>
			<p class="description">
				Diseñador web al que le encanta hacer productos digitales de todas las
				formas y tamaños, creando experiencias accesibles con en el diseño y
				experiencia del usuario.
			</p>
		</section>
    <section class="projects-section">
      <h2>Proyectos Destacados</h2>
      <ul role="list" class="projects-grid">
        <Card
          title="revista"
          description="Revista de Venus"
          image={revista}
          href="https://www.behance.net/gallery/179763757/Revista-Venus"
        />
        <Card
          title="poster"
          description="Poster de Silent Hill"
          image={poster}
          href="https://www.behance.net/gallery/179766499/Concepto-poster-Silent-Hill"
        />
        <Card
          title="Juan Borrero"
          description="Mi sitio web personal"
          image={pagina}
          href="https://www.behance.net/gallery/161188549/Portfolio-Design"
        />
      </ul>
    </section>
  </main>
</Layout>

<style>
  main {
    margin: auto;
    padding: 0 4rem;
    max-width: 1200px;
    color: white;
    font-size: 20px;
    line-height: 1.6;
  }

	.hero-section {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		gap: 1rem;
		min-height: calc(100vh - 5rem);
		text-align: center;
	}
  h1 {
		margin: 0;
		font-size: 5rem;
    font-weight: 700;
    font-family: 'Inner Tight', sans-serif;
    line-height: 1;
		letter-spacing: -3px;
  }
  .text-gradient {
    background-image: var(--accent-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 200%;
    background-position: 0%;
		background-clip: text;
  }
	.description {
		max-width: 50ch;
		font-size: 1.45rem;
		font-weight: 400;
		line-height: 1.5;
	}

  .projects-section {
    margin-top: 5rem;
    height: calc(100vh - 5rem);
  }
  .projects-section h2 {
    font-size: 3rem;
    margin-bottom: 2rem;
    text-align: center;
  }

  .projects-grid {
    display: grid;
    grid-template-columns: repeat(3, minmax(15rem, 1fr));
    gap: 2rem;
    padding: 0;
  }
</style>
